
config SND_SUN6I_SOC_PCM_INTERFACE
	tristate "SoC pcm interface for the ReuuiMlla SUN6I chips"
	default n
	help
	  Say Y or M if you want to add support for codecs attached to
	  the SUN6I AC97, I2S or PCM interface. You will also need
	  to select the audio interfaces to support below.
